# Classe et calcul vectoriel

## Ecrire un programme pour fabriquer un lapin

In [2]:
class Voiture(object):
    def __init__(self):
        self.couleur = 'blue'
        self.roue = '1m'
        self.puissance = '10CV'
        self.longeur = '3m'
        self.largeur = '1.5m'
        self.hauteur = '2m'
        self.roue_motrice = 4
        self.sieges = 5
        self.poids = '1ton'
        
    def demarrer(self):
        print "Bru ... bruuuuu...."    
        
    def en_panne(self):
        print "Boom...Boom...Kec...kec...xiiiii...xiiiii"

In [60]:
class Lapin(object):
    def __init__(self):
        self.avi = 'content'
        self.mignon = 124
        self.proprete = 432
        self.beaute = 8910
        self.resistance = 1030
        self.kungfu = 9309
        self.muscle = 0
        self.courir = 999
        
    def musique(self):
        print "Lalalalalalalalalalalalalalalalalalalalalalalalalalala"
        
    def sauter(self):
        print "Boingboingboingboingboing"
        
    def rigoler(self):
        print "Hihihihihihi"

In [61]:
mon_lapin = Lapin()

In [62]:
mon_lapin.kungfu

9309

In [64]:
mon_lapin.proprete

432

In [65]:
 mon_lapin.musique()

Lalalalalalalalalalalalalalalalalalalalalalalalalalala

In [66]:
mon_lapin.avi

'content'

In [67]:
mon_lapin.muscle

0

In [68]:
mon_lapin.proprete

432

In [69]:
mon_lapin.beaute

8910

In [70]:
mon_lapin.resistance

1030

In [71]:
mon_lapin.courir

999

In [72]:
mon_lapin.sauter()

Boingboingboingboingboing

In [73]:
mon_lapin.rigoler()

Hihihihihihi

# Calcul vectoriel

## Rapel calcul simple

In [45]:
a = 1012
b = 151212
print a, b

1012 151212

In [46]:
a * b

153026544

## Explication calcul vectoriel

In [48]:
import pandas as pd

In [51]:
a = pd.Series([12, 50, 1309, 101, 28])
b = pd.Series([312, 450, 309, 301, 268])

In [50]:
a

0      12
1      50
2    1309
3     101
4      28
dtype: int64

In [52]:
b

0    312
1    450
2    309
3    301
4    268
dtype: int64

In [53]:
a + b

0     324
1     500
2    1618
3     402
4     296
dtype: int64

In [54]:
a * b

0      3744
1     22500
2    404481
3     30401
4      7504
dtype: int64

In [55]:
a / b

0    0.038462
1    0.111111
2    4.236246
3    0.335548
4    0.104478
dtype: float64

In [56]:
a = pd.DataFrame([[12, 50, 1309, 101, 28], [12, 50, 1309, 101, 28]])
b = pd.DataFrame([[312, 450, 309, 301, 268], [12, 50, 1309, 101, 28]])

In [57]:
a

    0   1     2    3   4
0  12  50  1309  101  28
1  12  50  1309  101  28

In [58]:
b

     0    1     2    3    4
0  312  450   309  301  268
1   12   50  1309  101   28

In [59]:
a * b

      0      1        2      3     4
0  3744  22500   404481  30401  7504
1   144   2500  1713481  10201   784